<div class="filter__field form-item">
  <label class="filter__field filter__field__label">
    Ministeriële bevoegdheden
  </label>
  <div class="form-element">
    <div class="form__input">
      {{#power-select
           selected=selected
           options=options
           onChange=(action "onChange")
           as |option|}}
        {{option.label}}{{#if option.count}} ({{option.count}}){{/if}}
      {{/power-select}}
    </div>
  </div>
</div>
