<div class="vlc-input-field-block">
  <label class="vl-form__label">
    Datum ministerraad
  </label>
  {{#power-select
    selected=selected
    options=options
    onChange=(action "onChange")
    as |option|
  }}
    {{option.label}}{{#if option.count}} ({{option.count}}){{/if}}
  {{/power-select}}
</div>
{{#if enableSelectDateInput}}
  <div class="filter__field form-item">
    <div class="grid">
      <div class="col--6-12">
        <div class="form-item form__row">
          {{web-components/vl-datepicker
              selectedDate=selectOption.start
              dateChanged=(action "onChangeSelectedStart")
              dateFormat="d-m-Y"
          }}
        </div>
      </div>
      <div class="col--6-12">
        <div class="form-item form__row">
          {{web-components/vl-datepicker
              selectedDate=selectOption.end
              dateChanged=(action "onChangeSelectedEnd")
              dateFormat="d-m-Y"
          }}
        </div>
      </div>
    </div>
  </div>
{{/if}}
