<div class="filter__field form-item">
  <label class="filter__field filter__field__label">
    Datum ministerraad
  </label>
  <div class="">
    {{#power-select
        selected=selectedDateChoice
        options=options
        onChange=(action "onChange")
        as |selectDateOption|}}
      {{selectDateOption.label}} {{#if selectDateOption.monthsNumber}}({{selectDateOption.councilsNumber}}){{/if}}
    {{/power-select}}
  </div>
</div>
{{#if showDateInputs}}
  <div class="filter__field form-item">
    <div class="grid">
      <div class="col--6-12">
        <div class="form-item form__row">
          {{web-components/vl-datepicker
            selectedDate=startDate
            dateChanged=(action "onChangeStart")
            dateFormat="d-m-Y"
          }}
        </div>
      </div>
      <div class="col--6-12">
        <div class="form-item form__row">
          {{web-components/vl-datepicker
            selectedDate=endDate
            dateChanged=(action "onChangeEnd")
            dateFormat="d-m-Y"
          }}
        </div>
      </div>
    </div>
  </div>
{{/if}}
