/*
Extract adapted from
https://vlaamseoverheid.atlassian.net/wiki/spaces/IKPubliek/pages/2604728345/Tools+om+de+header+en+branding+te+previewen
*/
.l-external-header {
  /* TEKST "HULP NODIG" */
  .vlw .vlw__contact--primary .vlw__contact__toggle::after,
  .vlw .vlw__contact--secondary .vlw__contact__toggle::after,
  .vlw .vlw__contact--tertiary .vlw__contact__toggle::after,
  .vlw .vlw__contact--quaternary .vlw__contact__toggle::after {
    border-right: $white;
  }

  .vlw .vlw__contact--primary .vlw__contact__toggle,
  .vlw .vlw__contact--secondary .vlw__contact__toggle,
  .vlw .vlw__contact--tertiary .vlw__contact__toggle,
  .vlw .vlw__contact--quaternary .vlw__contact__toggle {
    background: $white;
  }

  /* PROGRESS BAR */
  .vlw .vlw__primary-bar__progress {
    background: $yellow;
  }
}
