/* Official code
   ========================================================================== */

@import '_colors';
$icon-font-location: '/fonts/';

// Components (loaded locally to easily read source)
@import 'govflanders/core/_setting.scss';
@import 'govflanders/core/_tool.scss';
@import 'govflanders/core/_generic.scss';
@import 'govflanders/core/_element.scss';
@import 'govflanders/core/_object.scss';

// Components (loaded locally to easily read source)
@import 'govflanders/components/_action-group';
@import 'govflanders/components/_alert';
@import 'govflanders/components/_autocomplete';
@import 'govflanders/components/_badge';
@import 'govflanders/components/_button';
@import 'govflanders/components/_checkbox';
@import 'govflanders/components/_document';
@import 'govflanders/components/_form-message';
@import 'govflanders/components/_form-structure';
@import 'govflanders/components/_icon';
@import 'govflanders/components/_input-addon';
@import 'govflanders/components/_input-field';
@import 'govflanders/components/_input-group';
@import 'govflanders/components/_link-list';
@import 'govflanders/components/_link';
@import 'govflanders/components/_loader';
@import 'govflanders/components/_search';
@import 'govflanders/components/_select';
@import 'govflanders/components/_titles';
@import 'govflanders/components/_typography';

/* Unofficial code
      ========================================================================== */

// Additions to existing components
@import 'govflanders/additions/_badge';
@import 'govflanders/additions/_button';
@import 'govflanders/additions/_checkbox';
@import 'govflanders/additions/_link-list';

// Additions to existing utilities
@import 'govflanders/additions/_background';
@import 'govflanders/additions/_typography';

// Custom components
@import 'custom-components/vlc-box';
@import 'custom-components/vlc-container';
@import 'custom-components/vlc-scroll-wrapper';
@import 'custom-components/vlc-input-field-block';
@import 'custom-components/vlc-content-header';
@import 'custom-components/vlc-spotlight';

// Utilities (loaded locally to easily read source)
@import 'govflanders/util/_util';

// Custom utilities
@import 'custom-utilities/_reset';
@import 'custom-utilities/_extended-spacer';
@import 'custom-utilities/_scroll';
@import 'custom-utilities/_box-model';

// SPECIFIC ADDITION (HEADER PLACEHOLDER)

.l-external-header {
  //
}

.l-external-header__placeholder {
  width: 100%;
  height: 43px;
  background: #fff;

  // When the supported browsers support the :has selector (https://developer.mozilla.org/en-US/docs/Web/CSS/:has) we can also add a shadow to the placeholder (now, we'll get double shadows otherwise)
  // &:has(> .vlw) {
  //   box-shadow: 0 1px 3px rgb(12 13 14 / 10%), 0 4px 20px rgb(12 13 14 / 4%), 0 1px 1px rgb(12 13 14 / 3%);
  // }
}

// SPECIFIC ADDITION (AIV HEADER-WIDGET COLOR CUSTOMIZATION)
@import "vo-widget";

// SPECIFIC ADDITION

body > #valvas-inner-body-wrapper {
  height: 100% !important;
  display: flex;
  flex-direction: column;
  overflow: hidden !important;
}

.main-content {
  margin: 5rem 0;
}

.bevoegde-minister-item:not(:last-of-type):after {
  content: ', ';
}

.bevoegde-minister-item:nth-last-of-type(2):after {
  content: ' en ';
}

.decision__subtitle > time:not(:last-child):after {
  content: ', ';
}

.decision__text {
  ul, ol {
    list-style-type: revert;
    list-style-position: inside;
  }

  sub {
    vertical-align: sub;
    font-size: smaller;
  }

  sup {
    vertical-align: super;
    font-size: smaller;
  }
}

@media screen and (max-width: 767px) {
  .filter__form {
    margin: 0;
    padding: 1.5rem;
  }

  .vl-u-spacer-extended-left-l {
    margin-left: 0 !important;
  }
}

.h1-sublink {
  margin-bottom: 2.5rem;
}

.vl-badge {
  display: inline-block;
  vertical-align: bottom;
}

.document-drawer {
  padding: 2rem;
  background-color: $porcelain;
  margin-top: 2.5rem;

  div:last-child {
    margin-bottom: 0 !important;
  }
}

.assitive-text {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}

@import 'temporary';
