{{#each this.sortedMandatees as |mandatee|}}
  {{!--
  Below span and its content should be kept as one line html without whitespace.
  Spreading the element over multiple lines causes space before comma.
  --}}
  <span class='bevoegde-minister-item'>{{if mandatee.valvasTitle mandatee.valvasTitle mandatee.title}}</span>
{{/each}}