{{#each this.sortedMandatees as |mandatee|}}
  <span class="bevoegde-minister-item">
    {{if mandatee.alternativeTitle (lowercase mandatee.alternativeTitle) mandatee.title}}
    {{mandatee.person.fullName}}
  </span>
{{/each}}