<div class="vlc-input-field-block">
  <label class="vl-form__label">
    Datum ministerraad
  </label>
  {{#power-select
    selected=this.selected
    options=this.options
    onChange=(action "onChange")
    as |option|
  }}
    {{option.label}}{{#if option.count}} ({{option.count}}){{/if}}
  {{/power-select}}
</div>
{{#if this.enableSelectDateInput}}
  <div class="vlc-input-field-block">
    <div class="vl-grid">
      <div class="vl-col--6-12">
        <label class="vl-form__label">
          Van
        </label>
        {{web-components/vl-datepicker
          selectedDate=this.selectOption.start
          dateChanged=(action "onChangeSelectedStart")
          dateFormat="d-m-Y"
        }}
      </div>
      <div class="vl-col--6-12">
        <label class="vl-form__label">
          Tot en met
        </label>
        {{web-components/vl-datepicker
          selectedDate=this.selectOption.end
          dateChanged=(action "onChangeSelectedEnd")
          dateFormat="d-m-Y"
        }}
      </div>
    </div>
  </div>
{{/if}}