.vlc-content-header__image img {
  width: 100%;
}


.vlc-content-header__content {
  position: absolute;
  left: 10%;
  bottom: 20%;
}

.vlc-content-header__title-content {
  padding: .5rem 2rem 1.1rem;
  background-color: #fff;
}

.vlc-content-header__link-content {
  color: #333;
  padding: 1rem 3.5rem 1rem 2rem;
  background: #fff;
  background: linear-gradient(200deg,transparent 20px,#fff 21px);
  background: -webkit-linear-gradient(200deg,transparent 20px,#fff 21px);

  &:hover {
    text-decoration: none !important;
    color: $science-blue;
  }
}

@media only screen and (max-width: $bp-medium) {
  .vlc-content-header__content .vlc-content-header__title-content {
    font-size: 3.2rem !important;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
  }
}
