<WuWidget @src={{this.header}} />
<HeadLayout />
{{page-title "Beslissingen van de Vlaamse Regering | Vlaanderen.be"}}
{{! Below wrapper element was introduced to stay compatible with the CSS that depended
  on pre-octane ember-view wrapping elements }}
<div id="valvas-inner-body-wrapper">
  {{outlet}}
</div>
<WuWidget @src={{this.footer}} />