<div class="vlc-scroll-wrapper">
  <div class="vlc-scroll-wrapper__body full-height">
    <KaleidosViewer
      @documentVersion={{this.model}}
      class="override-full-height-viewer"
    />
  </div>
</div>