<div class="main-content">
  <div class="region region--no-space-bottom">
    <div class="layout layout--wide">
      <h1 class="h1">{{model.count}} beslissingen gevonden</h1>
    </div>
  </div>
  <div class="region">
    <div class="layout layout--wide">
      <div class="grid">
        <div class="col--4-12">
          <div class="filter u-spacer--small">
            <p class="filter__intro">Verfijn uw zoekresultaat</p>
            <form class="form filter__form">
              <div>
                <div class="filter__field form-item">
                  <label class="filter__field filter__field__label">
                    Zoek naar
                  </label>
                  <div class="form-element">
                    <div class="form__input">
                      <input placeholder="Zoek naar" class="input-field input-field--block form-text" type="text" value="" size="30" maxlength="128">
                    </div>
                  </div>
                </div>
                <div class="filter__field form-item">
                  <label class="filter__field filter__field__label">
                    Datum ministerraad
                  </label>
                  <div class="form-item form__row">
                    <div class="form__input">
                      XXX
                    </div>
                  </div>
                </div>
                <div class="filter__field form-item">
                  <div class="grid">
                    <div class="col--6-12">
                      <div class="form-item form__row">
                        <label class="form__label u-visually-hidden">
                          Begindatum
                        </label>
                        <div class="form__input"><input placeholder="Begindatum" class="input-field input-field--block form-text" type="text" value="" size="30" maxlength="30"></div>
                      </div>
                    </div>
                    <div class="col--6-12">
                      <div class="form-item form__row">
                        <label class="form__label u-visually-hidden">
                          Einddatum
                        </label>
                        <div class="form__input">
                          <input placeholder="Einddatum" class="input-field input-field--block form-text" type="text" value="" size="30" maxlength="30">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="filter__field form-item">
                  <label class="filter__field filter__field__label">
                    Ministeriële bevoegdheden
                  </label>
                  <div class="form-element">
                    <div class="form__input">
                      XXX
                    </div>
                  </div>
                </div>
                <div class="filter__field form-item">
                  <label class="filter__field filter__field__label">
                    Voorgesteld door
                  </label>
                  <div class="form-element">
                    <div class="form__input">
                      XXX
                    </div>
                  </div>
                </div>
                <div class="filter__field form-item">
                  <input class="form-submit button" type="submit" value="Zoek">
                </div>
              </div>
            </form>
          </div>

          <ul class="link-list link-list--small u-spacer--small">
            <li>
              <a href="https://www.vlaanderen.be/vlaamse-regering/beslissingenvlaamseregering.rss" class="link--icon--caret link--block external-link">abonneren op rss feeds</a>
            </li>
            <li>
              <a href="https://www.vlaanderen.be/ontvang-nieuwe-persberichten-en-beslissingen-via-e-mail" class="link--icon--caret link--block external-link">abonneren op de beslissingen van de Vlaamse Regering</a>
            </li>
          </ul>

          <div class="view-ip-decisions-spotlight view-display-id-ip_decisions_spotlight">
            <div class="item-list">
              <ul>
                <li class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                  <a href="https://www.vlaanderen.be/vlaamse-regering" class="spotlight external-link">
                    <article>
                      <header class="spotlight__header">
                        <div class="spotlight__image">
                          <img class="spotlight__image__img" srcset="//www.vlaanderen.be/sites/default/files/styles/spotlight_large_1x/public/images/vr-homans-20190702c_0.jpg?itok=6i1e-IpW&amp;c=186b506426c54c4b0e3bfa9a704e31c5 1x, //www.vlaanderen.be/sites/default/files/styles/spotlight_large_2x/public/images/vr-homans-20190702c_0.jpg?itok=wDvHRq6g&amp;c=186b506426c54c4b0e3bfa9a704e31c5 2x" src="//www.vlaanderen.be/sites/default/files/styles/spotlight_large_1x/public/images/vr-homans-20190702c_0.jpg?itok=6i1e-IpW&amp;c=186b506426c54c4b0e3bfa9a704e31c5" alt="Regering Homans I">
                        </div>
                        <div class="spotlight__title-wrapper">
                          <h1 class="spotlight__title" data-clamp="0">Regering Homans I</h1>
                        </div>
                      </header>
                    </article>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col--8-12">
          <div class="view-ip-decisions-search">
            <div class="view-content">
              <div class="item-list">
                {{#each model.data as |newsletterInfo|}}
                  {{newsletter-info-view newsletterInfo=newsletterInfo.attributes}}
                {{/each}}
              </div>
            </div>

            <ul class="pager pager--infinite-scroll u-align-center">
              <li class="pager__item">
                <a class="button" href="XXX">
                  Laad meer
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}
