<div class="main-content">
  <div class="region region--no-space-bottom">
    <div class="layout layout--wide">
      <h1 class="h1">XXX beslissingen gevonden</h1>
    </div>
  </div>
</div>
{{outlet}}
